*{ 
  margin: 0; 
  padding: 0; 
}

.site-header {
  position: sticky;
  top: 0;
  z-index: 20;
}

/*set a link to give people using screen readers an option to skip the navigation and go directly to the main page content */
.skip-to-main-content {
  margin-left: -900px;
}

/* Fix navigation to create a sticky nav bar */
nav {
  position: fixed;
  margin-top: -8px;
  width: 100%;
  background-color: #1a1a1a;
  padding: 0 25px;  
}

nav ul {
  margin: 0;
  padding: 0;
  display-style: none;
}

nav li {
  display: inline-block;
  min-width: 70px;
  color: white;
  text-align: center; 
  padding: 10px 0;
  a {
    color: white;
    text-decoration: none;
  }
}

nav li:active {
  background-color: #333333;
}

nav li:hover {
  background-color: #333333;
}

nav button {
  display: none;
}

/* make the nav bar adapt to small screen sizes */
@media (max-width: 500px) {
    nav li {
    display: block;
      width: 100%;
      border-bottom: 1px solid white;
      padding: 5px 0;
      
  }
  
  nav {
    // padding: 10px 0 0 0;
  }
}